.panel.panel-info
    .panel-heading
        a(data-toggle="collapse", href='#collapse1') Закупівля #{data.obj.tenderID}
    .panel-collapse.collapse.in(id='collapse1')
        .panel-body
            p.text-success Інформація про процедуру закупівлі
                .row
                    .col-sm-4
                        p Початок періоду уточнень:
                    .col-sm-8
                        p #{func.formatDate(data.obj.enquiryPeriod.startDate)}
                .row
                    .col-sm-4
                        p Завершення періоду уточнень:
                    .col-sm-8
                        p #{func.formatDate(data.obj.enquiryPeriod.endDate)}
                .row
                    .col-sm-4
                        p Початок прийому пропозицій:
                    .col-sm-8
                        p #{func.formatDate(data.obj.tenderPeriod.startDate)}
                .row
                    .col-sm-4
                        p Завершення прийому пропозицій:
                    .col-sm-8
                        p #{func.formatDate(data.obj.tenderPeriod.endDate)}
                .row
                    .col-sm-4
                        p Початок аукціону:
                    .col-sm-8
                        if data.obj.auctionPeriod
                            p #{func.formatDate(data.obj.auctionPeriod.startDate)}
                        else
                            p Буде визначено після завершення періоду уточнень
            hr
            p.text-success Інформація про предмет закупівлі
                .row
                    .col-sm-4
                        p Статус:
                    .col-sm-8
                        p #{func.descStatus(data.obj.status)}
                .row
                    .col-sm-4
                        p Назва закупівлі:
                    .col-sm-8
                        p #{func.descStatus(data.obj.title)}
                .row
                    .col-sm-4
                        p Детальний опис закупівлі:
                    .col-sm-8
                        p #{func.descStatus(data.obj.description)}
                .row
                    .col-sm-4
                        p Повний доступний бюджет закупівлі, грн:
                    .col-sm-8
                        p !{func.formatSum(data.obj.value)}
                .row
                    .col-sm-4
                        p Мінімальний крок аукціону, грн:
                    .col-sm-8
                        p !{func.formatSum(data.obj.minimalStep)}
                each item in data.obj.items
                    hr
                    .row
                        .col-sm-4
                            p Класифікатор CPV:
                        .col-sm-8
                            p=item.classification.id + ' ' + item.classification.description
                    .row
                        .col-sm-4
                            p Класифікатор ДКПП:
                        .col-sm-8
                            p=item.additionalClassifications[0].id + ' ' + item.additionalClassifications[0].description
                    .row
                        .col-sm-4
                            p Детальний опис предмета закупівлі:
                        .col-sm-8
                            p=item.description
                    .row
                        .col-sm-4
                            p Кількість:
                        .col-sm-8
                            p=item.quantity + ' ' + ((item.unit.name == undefined) ? ('') : (item.unit.name))
            hr
            .panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse", href='#collapse2') Документи
                    .panel-collapse.collapse(id='collapse2')
                        ul.list-group
                            if data.obj.documents
                                each document, index in data.documentsList
                                    li.list-group-item
                                        span.i.fa.fa-file
                                        a(href=document.url)=document.title
                                            span [ #{func.formatDate(document.dateModified)} ]

                            else
                                p Документація відсутня
            hr
            p.text-success Інформація про Замовника
                .row
                    .col-sm-4
                        p Найменування:
                    .col-sm-8
                        p #{data.obj.procuringEntity.name}
                .row
                    .col-sm-4
                        p ЄДРПОУ:
                    .col-sm-8
                        p #{data.obj.procuringEntity.identifier.id}
                .row
                    .col-sm-4
                        p Адреса:
                    .col-sm-8
                        p #{func.formatAddress(data.obj.procuringEntity.address)}
            hr
            p.text-success Контактна особа
                .row
                    .col-sm-4
                        p Найменування:
                    .col-sm-8
                        p #{data.obj.procuringEntity.contactPoint.name}
                .row
                    .col-sm-4
                        p E-mail:
                    .col-sm-8
                        p #{data.obj.procuringEntity.contactPoint.email}
                .row
                    .col-sm-4
                        p Телефон:
                    .col-sm-8
                        p #{data.obj.procuringEntity.contactPoint.telephone}
                if data.obj.procuringEntity.contactPoint.faxNumber
                    .row
                        .col-sm-4
                            p Факс:
                        .col-sm-8
                            p #{data.obj.procuringEntity.contactPoint.faxNumber}