extends layout

block content
    h1 Накладення електронно цифрового підпису на закупівлю
    p Адреса API: <i>#{data.opApiUri}</i>
    .panel.panel-info
        .panel-heading
            a(data-toggle="collapse", href='#collapse1') Закупівля #{data.obj.tenderID}
        .panel-collapse.collapse.in(id='collapse1')
            .panel-body
                include partials/tender

    .panel.panel-default
        .panel-heading Накладення підпису
            span(name='status', id='status')
        .panel-body
            ul.nav.nav-tabs
                li.active: a(href="#key", data-toggle="tab") Завантаження ключа
                li: a(href="#certs", data-toggle="tab") Сертифікати та СВС
            .tab-content
                .tab-pane.active#key
                    .row
                        .col-sm-2
                            p Оберіть ЦСК:
                        .col-sm-10
                            select(id='CAsServersSelect')
                    .panel.panel-info(id='keyStatusPanel')
                        .panel-heading
                            span(id='ChoosePKFileText')
                        .panel-body
                            .row
                                .col-sm-2
                                    p Особистий ключ:
                                .col-sm-2
                                    input.form-control.form-control-sm(readonly='true', id='PKeyFileName' onclick="document.getElementById('PKeyFileInput').click();", style="width:180px")
                                .col-sm-8
                                    button.btn.btn-default(id='PKeySelectFileButton', style='width:100px', href="javascript:void(0);", onclick="document.getElementById('PKeyFileInput').click();") Обрати
                                    input(type="file", multiple=false, id="PKeyFileInput", style="visibility:hidden")
                            .row
                                .col-sm-2
                                    p Пароль захисту ключа:
                                .col-sm-2
                                    input.form-control.form-control-sm(type='password', id="PKeyPassword", style="width:180px")
                                .col-sm-6
                                    button.btn.btn-default(id='PKeyReadButton', style='width:100px',onclick="euSignTest.readPrivateKeyButtonClick()") Зчитати
                                .col-sm-2
                                    button.btn.btn-info.pull-right(id='SignDataButton',onclick="euSignTest.signData()", disabled=true) Підписати

                            .alert.alert-info(id='certInfo', style='display:none')

                .tab-pane#certs
                    .row
                        .col-sm-3
                            p <strong>Обрані сертифікати</strong>
                            output(id='SelectedCertsList')
                        .col-sm-3
                            p <strong>Обрані СВС</strong>
                            output(id='SelectedCRLsList')

    script(src='/js/lib/eu/euscpt.js')
    script(src='/js/lib/eu/euscpm.js')
    script(src='/js/lib/eu/euscp.js')
    script(src='/js/lib/eu/euutils.js')
    script(src='/js/lib/eu/euscptest.js')
    script(type='text/javascript').
        var local_data = !{JSON.stringify(data)};
